body {
    background: rgb(26, 26, 26);
}

/* Decorations for the parent container(the box holding the options) */
.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: rgb(54, 52, 51);
    border: 5px solid rgb(0, 140, 255);
    border-radius: 10px;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
}

/* Decorations for the buttons within 'container' */
.container button {
    margin-top: 15%;
    margin-left: 22%;
    padding: 9px 25px;
    background-color: rgb(95, 106, 109);
    height: 50px;
    width: 200px;
    border: 5px solid rgb(48, 47, 47);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 20px;
}

.container button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}